body {
  background-color: #1A2325;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0;
  margin: 0 6%;
  border-bottom: 1px solid #555A5B;
}

.section:last-of-type {
  border-bottom: none;
}

/*  GROUPING  */
.section:before,
.section:after { content: ""; display: table; }
.section:after { clear: both;}

/*  GRID SETUP  */
.section__col {
  display: block;
  float: left;
  margin: 10% 0 10% 1.6%;
  width: 55.2%;
}

.section__col:first-child {
  margin-left: 0;
  padding-right: 6%;
  width: 35.2%;
}

/* TABLET AND MOBILE VIEW: WIDTH AT LESS THAN 780 PIXELS */
@media only screen and (max-width: 780px) {
  .section__col, .section__col:first-child {
    margin: 10% 0 10% 0%;
    width: 100%;
  }
}


/* LEFT COLUMN STYLING */
h1 {
  font-family: 'quatro_slabregular';
  color: #FFFFFF;
  margin: 0 0 1% 0;
}

small {
  font-family: 'lft_etica_bkbook';
  color: #555A5B;
}

p {
  font-family: 'lft_eticaregular';
  color: #ACADAD;
}

p:nth-of-type(3) {
  color: #01BFC1;
  border-bottom: 1px dotted #555A5B;
  padding-bottom: 6%;
}

p:last-of-type {
  font-family: 'quatro_slabregular';
  color: #FFFFFF;
  float: left;
  margin: 4.5% 5% 2.5% 0;
}

.col__button-buythis {
  float: left;
  margin-top: 3%;
  padding: 3% 1.9% 3% 1.9%;
  width: 8em;
  background-color: #1BBCBF;
  font-family: 'lft_etica_sbsemibold';
  color: #FFFFFF;
  font-size: .6em;
  text-align: center;
}
