body {
  background-color: #1A2325;
}

/* ICON STYLING */
.brand-border {
  background-color: #F8695A;
  height: .5em;
  margin: -.8em 0 0 -.5em;
  padding-right: 5em;
  width: 100%;
}

.brand-border__dobot {
  display: none;
}

.dobot-icon {
  margin: -.5% 0 0 6%;
  width: 80px;
}

/* SECTIONS AND GROUPING */
.section {
  border-bottom: 1px solid #555A5B;
  clear: both;
  margin: 0 6%;
  padding: 0;
}

.section:last-of-type {
  border-bottom: none;
}

.section:before,
.section:after { content: ""; display: table; }
.section:after { clear: both; }

/* COLUMN SETUP WITHIN SECTIONS  */
.section__col {
  display: block;
  float: left;
  margin: 10% 0 10% 1.6%;
  width: 55.2%;
}

.section__col:first-child {
  margin-left: 0;
  padding-right: 6%;
  width: 35.2%;
}

/* LEFT COLUMN STYLING */
h1 {
  color: #FFFFFF;
  font-family: 'quatro_slabregular';
  margin: 0 0 1% 0;
}

small {
  color: #555A5B;
  font-family: 'lft_etica_bkbook';
}

.section__col__mobile_img {
  display: none;
}

p {
  color: #ACADAD;
  font-family: 'lft_eticaregular';
}

p:nth-of-type(3) {
  color: #01BFC1;
  border-bottom: 1px dotted #555A5B;
  padding-bottom: 1em;
}

p:last-of-type {
  color: #FFFFFF;
  float: left;
  font-family: 'quatro_slabregular';
  margin-right: 1em;
}

.section__col__arrow_image {
  width: 22.64px;
  vertical-align: middle;
}

.section__col__button_buy_this {
  background-color: #1BBCBF;
  color: #FFFFFF;
  float: left;
  font-family: 'lft_etica_sbsemibold';
  font-size: .6em;
  margin-top: 1em;
  padding: 1em 0;
  text-align: center;
  width: 8em;
}

.section__col__button_buy_this:hover {
  background-color: #CFCEBA;
  border: 1px solid #1BBCBF;
  box-shadow: 0px 1px #1BBCBF;
}

/* TABLET AND MOBILE STYLING */
@media only screen and (max-width: 780px) {

  .section__col, .section__col:first-child {
    margin: 5% 0%;
    width: 100%;
  }

  .section__col--desktop_image {
    display: none;
  }

  .section__col__mobile_img {
    display: block;
    padding-top: 1em;
  }

  p:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }

  .section__col__button_buy_this {
    margin-top: .5em;
  }

}
